/* Body */
body{
  padding : 0px;
  margin : 0px;
}
/* iconTop */
#iconTop{
   width : 100%;
   background-color : #ffffff;
   background-image : url("../img/logo.png");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center center;
   border : 1px #ffffff solid;
   padding : 0px;
   margin : 0px;
   z-index : 1;
}

/* メニューバーの margin を再調整 */
#mapMenuArea nav {
  margin: 0;
}
/* 中央位置設定 */
#mapPosMenu {
   text-align: left;
   padding : 0px;
   margin : 0px;
}

#index main {
   text-align: center;
   margin-top: 100px;
}

#index ul {
   margin: 0;
   padding: 0;
   margin-top     : 50px;
   list-style-type: none;
   line-height    : 200%;
}